name: Publish docker build

on:
  push:
    branches:
      - master

jobs:
  publish-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Generate file
        run: docker-compose -f ./.docker/docker-compose.yml up

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.5.8
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: dist
